*{
    padding: 0;
    margin: 0;
}




/* helper clases start here */
body {
    padding: 0px;
    margin: 0px;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
}
p {
    letter-spacing: 1px;
}
.container {
    margin: 0 auto;
    width: 85%;
}
.row {
    display: flex;
}
.col {
    display: inherit;
    flex: 1;
}
.sec-sv {
    padding: 100px 0px;
}
@media(max-width: 992px ){
.row {
 flex-direction: column;
    }
}
/* Helper Classes end here*/










/* first section start from here */
#about-section  img {
    width: 100%;
    overflow: hidden;
}   
#about-section .about-me h4 {
    margin: 20px 0px;
}   
.sectinone{
background-position: 
center;
height: 100vh;
padding-bottom: 50px;
line-height: 37px;
}
.sec-1{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: end;
    justify-content:center ;
}
.harri{
 margin-right: 500px;
 font-size: 26px;
 color: black;
}
.harri:hover{
    color: whitesmoke;
    cursor: pointer;
    border-bottom: 2px solid blue;
}
.box11{
    
    flex-grow: 100px;
    flex-basis: 100px;
} 
.home1{
    color: red;
}
.home1:hover{
    color:black;
}
.box11:hover{
    color: honeydew;
    cursor: pointer;
}
.side-box{
    position: relative;
    top: 100px;
    height: 40px;
    width: 45px;
}
.fan{
    position: relative;
    top: 65px;
    font-size: 30px;
}
.welcome{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 290px;
}
.wel{
    position: relative;
    bottom: 90px;
    font-size: 20px;
}
.btn-1 {
    padding: 4px 29px;
    border-radius: 25px;
    outline:none;
}
.btn-1:hover{
    border-radius: 25px;
    outline:none;
    background-color:transparent;
    color: white;
    transform: 2s escape;
    border: 0.6px solid;   
}
@media(max-width: 992px ){
.sectinone{
background-color: grey;
height: 100vh;
padding-bottom: 50px;
line-height: 37px;
}
.sec-1{
 display: flex;
 flex-direction: column;
 padding: 1px;
 color: red;
 }
.side-box{
 background-color: violet;
}
.fan{
 color: green;
}
.harri{
 margin-left: 120px;
width: 300px;
}
.box11{
text-align: center;
flex-grow: 10px;
flex-basis: 50px;
}
.welcome{
padding-top: 70px;
}
.wel{
    font-size: 20px;
}
}
/* first section  end here */












/* second section  start from here */
.icons{
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
    font-size: 30px;
    color: rgb(128, 128, 128);
}
.fac:hover {
    color: blue;
}
.whats:hover {
    color: green;
}
.you:hover {
    color: red;
}
.ins:hover {
  color: purple;
}
.twit:hover {
    color: blue;
}
.icons i {
    margin-right: 30px;
}
@media(max-width: 992px ){
    .icons{
    text-align: center;
    padding-bottom: 20px;
}
.img-1{
    margin: 0 auto;
    padding: 0 auto;
}
}
/* second section  end here */















/* third section  start from here */
.sec-3-icons{
    font-size: 34px;
    color: red;
    padding: 10px 0px;
}
.sec-5-pera{
    text-align: center;
    padding-bottom: 50px;
}
.sec-3-card-icons{
    padding-top: 6px;
}
.our-services{
    display: flex;
    justify-content: center;
}
.box-service{
    border: 1px solid red;
    text-align: center;
    padding: 30px 9px;
    margin: 15px;
    background-color: whitesmoke;
}
.sec-line{
    width: 20%;
    padding: 2px ;
    background-color: red;
    position: relative;
    left: 128px;
}
.work-service{
    margin: 15px;
}
.section-three{
    background-color: rgba(128, 128, 128, 0.192);
    padding: 50px 0px;
    margin: 0px;
}
@media(max-width: 992px ){
 .sec-3-icons{
color: red;
 }
.section-three {
    background-color: rgba(0, 255, 255, 0.123);
}
.section-three .sec-5-pera {
width: 400px;
text-align: center;
margin-left: 40px;
}
.box-service{
    border: 1px solid rgba(255, 0, 0, 0.144);
    text-align: center;
    background-color: rgba(80, 176, 255, 0.151);
}
.sec-line{
    position: relative;
    left: 140px;
}
}
/* third section  end here */










/* fourth section  start frome here here */
.lancer{
    padding-bottom: 50px;
}
.freelancer{
    text-align: center;
}
.free-btn {
    margin-top: 30px;
    padding: 10px 30px;
    background-color: red;
    border: none;
    cursor: pointer;
}
.freelancer{
    padding-top: 60px;
    align-self: center;
    display: flex;
    justify-content: center;
}
.free-btn:hover{
    background-color:rgba(128, 128, 128, 0.774);
    color: white;
    cursor: pointer;
}
/* fourth section  start frome here here */















/* fifth section  start frome here here */
.our-clitse{
    margin-top: 20px;
    background-color: azure;
    padding-top: 70px;
    padding-bottom: 50px;
}
.sec-5-peraa{
padding-top:  39px;
text-align: center;
padding-bottom:  39px;

}
.clints-perw{
    text-align: center;
    padding-bottom: 40px;
}
.sec-5-img{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sec-5-dash{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
}
/* fifh section  end here here */



























/* sixth section  start frome here here */
.section-6{
     padding-top: 50px;
     padding-bottom: 50px;
     background-color: rgba(128, 128, 128, 0.527);
}
.contaniner-work{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.section-6-nav-bar ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.box-1{
    
    flex-grow: 100px;
    flex-basis: 100px;
    padding-bottom: 70px;
} 
.all{
    background-color: red;
    padding: 5px 15px;
    border-color: red;
    border-radius: 20px;
    outline-style: none;
    color: lightgoldenrodyellow;
}
.our-work{
    display: flex;
    justify-content: center;
}
 @media(max-width: 992px ){
     .contaniner-work{
background-color: rgba(205, 92, 92, 0.144);
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.box-1{
display: flex;
justify-content: center;    
flex-grow: 1px;
flex-basis: 1px;
color: black;
} 
.all{
    background-color: yellowgreen;
    padding: 7px 100px;
}
.work-service{
 justify-content: space-between;
 margin: 10px;
 display: flex;
justify-content: center;
}
.our-work{
 text-align: center; 
}
 }
 .box{
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.box:before,
.box:after{
    content: "";
    background: #34495e;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    transition: all 0.35s 0s ease-out;
}
.box:hover:before{ bottom: 0; }
.box:after{
    opacity: 0.8;
    bottom: 0;
    top: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transition: all 0.35s 0.2s ease-in;
}
.box:hover:after{ top: 25%; }
.box img{
    width: 100%;
    height: auto;
}
.box .box-content{
    color: #fff;
    text-align: center;
    /* width: 80%; */
    opacity: 0;
    transform: translateX(-50%) translateY(-55%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transition: all 0.35s 0.5s ease;
}
.box:hover .box-content{
    opacity: 1;
    transform: translateX(-50%) translateY(-40%);
}
.box .title{
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
}
.box .title:after{
    content: '';
    height: 1px;
    /* width: 100px; */
    margin: 5px auto 3px;
    border-bottom: 1px dashed #fff;
    display: block;
    clear: both;
}
.box .post{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 2;
}
.box .icon li{
    margin: 0 3px;
    display: inline-block;
    opacity: 0;
    transition: all 0.4s ease 0.5s;
}
.box .icon li:nth-child(2){ transition-delay: 0.7s; }
.box:hover .icon li{ opacity: 1; }
.box .icon li a{
    color:white;
    background-color: red;
    font-size: 17px;
    text-align: center;
    line-height: 31px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease 0s;
}
.hover-image{
    width: 360px;
}
.box .icon li a:hover{ 
box-shadow: 3px 3px rgba(255,255,255,0.5); }
@media only screen and (max-width:990px){
    .box{ margin: 0 0 px;
    width: 100%; }
    .hover-image{
    width: 360px;
}
}
/* sixth section  end here here */


















/* seventh section  start here here */
.section-of-blogs{
      padding: 70px 0px; 
background-color: rgba(128, 128, 128, 0.144); 
      text-align: center;
}
.blog{
    margin-left: 60px;
    border: 5px solid rgba(245, 222, 179, 0.473);
}
.img-pera{
    width: 300px;
    background-color: rgba(245, 222, 179, 0.486);
}
.img-pera p{
padding: 10px;
text-align: center;
}
.img-pera-h3{
    padding: 14px 10px;

}
.blogs-csrd-btn-read-more button{
    background-color: red;
    padding: 6px 14px;
    border-color: red;
    color: whitesmoke;
    border-radius: 13px ;
    outline: none;
    text-align: left;
}
.blogs-csrd-btn-read-more{
    padding: 4px;
    position: relative;
    left: 10px;
    text-align: left;
    cursor: pointer;
} 
.blogs-csrd-btn-read-more button:hover{
cursor: pointer;
background-color: rgba(245, 222, 179, 0.301);
border: none;
color: red;
}
 @media(max-width: 992px ){
.img-pera-h3{
    display: flex;
    flex-direction: column;
}
.blog{
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;  
}

.section-of-blogs{
      padding: 70px 0px; 
      background-color: #34495e; 
}
.blog{
    margin-left: 60px;
    border: 3px solid white;

}
.img-pera{
    width: 300px;
    background-color: white;
    justify-content: left;

}
.img-pera-h3{
    padding: 14px 10px;
    text-align: left;
}
.blogs-csrd-btn-read-more button{
    background-color: red;
    padding: 6px 14px;
    border-color: red;
    color: whitesmoke;
    border-radius: 13px ;
    outline: none;
    cursor: pointer;
}
.blogs-csrd-btn-read-more{
    padding: 4px;
    position: relative;
    left: 10px;
    cursor: pointer;
} 
}
/* seventh section  end here */













/* eight section  start from here */
.contect-us{
    justify-content: center; 
    margin-left: 190px;
    padding: 50px 0px;
}
.conta-icon{
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: red;
    padding-bottom: 20px;
}
.cont-us-cellP{
    text-align: center;
    justify-content: center;
}
.cont-us-pera{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
}
 @media(max-width: 992px ){
.contect-us{
    justify-content: center; 
    margin-left: 190px;
    padding: 50px 0px;
}
.conta-icon{
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: red;
    padding: 30px 0px;
}
.cont-us-cellP{
    text-align: center;
    justify-content: center;
}
.cont-us-pera{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
}
}
 /* eight section  end here */

















 /* nineth section  start here here */
.input-method{
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  padding-top: 20px;
}
.das-tab{
    width: 570px;
}
.sec-8{
    background-color: rgba(47, 79, 79, 0.24);
    padding-top: 60px;
    padding-bottom: 50px;
}
.long-dash{
    padding: 20px 0px;
    width: 1150px;
    margin-left: 50px;
}
.message-teb{
    text-align: center;
}
.dash-message{
    width: 1150px;
}
.submition-button button{
 background-color: red;
 position: relative;
 left: 1110px;
 top: 20px;
 padding: 10px 20px;
 border-radius: 20px;
 outline: none;
 font-size: 14px;
  cursor: pointer;
}
.submition-button button:hover{
    background-color: gray;
    color: red;
    border-color: red;
     cursor: pointer;
}
@media(max-width: 992px ){
.input-method{
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  padding-top: 20px; 
}
.das-tab{
    width: 400px;
    margin-top: 20px;
}
.sec-8{
    background-color: rgba(47, 79, 79, 0.24);
    padding-top: 60px;
    padding-bottom: 50px;
}
.long-dash{
    padding: 20px 0px;
    width: 400px;
    margin-left: 22px;
}
.message-teb{
    text-align: center;
}
.dash-message{
    width: 420px;
}
.submition-button button:hover{
    background-color: gray;
    color: red;
    border-color: red;
 cursor: pointer;
}
.submition-button button{
background-color:red;
 position: relative;
 left: 300px;
 top: 10px;
 padding: 10px 20px;
 font-size: 14px;
 cursor: pointer;
}
}
/* nineth section end here */
